RESEND_API_KEY=re_CP3JYRqN_5P77TmLNUhkuT5hWS5koRK8j
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZ2a2RuenFndGFqZW91eGxsaXVrIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTAwOTE4NiwiZXhwIjoyMDg2NTg1MTg2fQ.Q61WGhT0KHUbrVc3FiRzQN-vhmy53dEqaad4w4c_Z9o
ANTHROPIC_API_KEY=your_anthropic_key_here
ASE_ADMIN_KEY=huit-ase-admin-2026
NEXT_PUBLIC_ASE_ADMIN_KEY=huit-ase-admin-2026
